

<div class="content">


  <div class="BackGround">


  </div>

  <div class="PlayIcon"><i class="fa-solid fa-play"></i></div>
  <div class="AdditionIcon"><i class="fa-solid fa-plus"></i>新增置專輯</div>
<div> <img src= "assets/images/AlbumList.png" class="albumImg"></div>



  <div class="MusicList">

    <div class="MusicBar1"> <div class="Number">1</div>
       <div class="SongName">I Hate Myself Sometimes (Slowed+Reverb)</div>
    <div class="Sign">
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>



  <div class="MusicBar2"> <div class="number">2</div>

  <div class="SongName">Red Scarf</div>
    <div class="Sign">
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>
  <div class="MusicBar1"> <div class="number">3</div>
  <div class="SongName">Warrior of the Darkness</div>
    <div class="Sign">
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>
  <div class="MusicBar2"> <div class="number">4</div>
  <div class="SongName">小阿七《从前说》【高音质 动态歌词Lyrics】</div>

    <div class="Sign">
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>
  <div class="MusicBar1"> <div class="number">5</div>
  <div class="SongName">  Red Scarf</div>
    <div class="Sign" >
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>
  <div class="MusicBar2"> <div class="number">6</div>
  <div class="SongName"> 卢卢快闭嘴 - 字字句句『他次次回避着话题，你傻傻热情的贴近。』</div>
    <div class="Sign">
      <i class="fa-solid fa-plus"></i><i class="fa-solid fa-minus"></i>
    </div>
  </div>


<div class="AllPlayer"><div class="SomePlayer"></div></div>

  </div>
</div>


